* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
/*     border: 1px solid red; */
}

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

body {
    max-width: 1440px;
    overflow-x: hidden;
    margin: 0 auto;
    display: grid;
}

header {
    background-color: #010326;
    color: white;
    min-height: 37rem;
}

nav {
    height: 4rem;
}
nav ul {
    float: right;
}
nav ul li {
    list-style-type: none;
    float: left;
    margin: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.banner {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
}

.my-name {
    grid-area: 2 / 2 / span 5 / span 5;
    font-family: "Work Sans", sans-serif;
    font-size: 100px;
    letter-spacing: 0.7rem;
    font-weight: 900;
}

.silvia {
    display: flex;
    flex-direction: row;
    color: #F24957;

}

.letter-i {
    width: 1rem;
    position: relative;
}

.circle {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #F24957;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    16.6% {
        transform: translateY(-40px);
    }
    33.3% {
        transform: translateY(0);
    }
    49.9% {
        transform: translateY(-20px);
    }
     66.5% {
        transform: translateY(0);
    }
    83.1% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateY(0);
    }
}

.rectangle {
    height: 3.5rem;
    width: 0.45rem;
    background-color: #F4D2BD; 
    position: absolute;
    top: 3.1rem;
}

.lvia {
    margin-left: 0.5rem;
}

@keyframes floatIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes floatDown {
        from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.silvia {
    animation: floatDown 1s ease-in;
}

.lee {
    animation: floatIn 1s ease-in;
    margin-left: 64px;
    color: #F4D2BD;
    margin-top: -30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.my-intro {
    grid-area: 2 / 7 / span 5 / span 4;
    animation: fadeIn 2s ease-in 1s both;
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
}

.my-intro p {
    margin: 2rem 0;
    color: #F4D2BD;
}

.social i {
    margin: 0 2rem 0 0;
}