* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
    max-width: 1440px;
    overflow-x: hidden;
    margin: 0 auto;
}

header {
    background-color: #010326;
    color: white;
    height: 700px;
}

nav {
    background-color:  #010326;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

}
nav .desktop {
    float: right;
}

nav .desktop li {
    list-style-type: none;
    float: left;
    margin: 0.5rem 1.5rem;
}
nav .desktop li a {
    text-decoration: none;
    color: #F24957;
}

.desktop a:hover,
.desktop a:active { 
    color:#F4D2BD; 
}

.banner {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
    position: relative;
    top: 3rem;
}

.my-name {
    grid-area: 1 / 2 / span 5 / span 5;
    font-family: "Work Sans", sans-serif;
    font-size: 100px;
    letter-spacing: 0.7rem;
    font-weight: 900;
    margin-top: 3rem;
}

.silvia {
    display: flex;
    flex-direction: row;
    color: #F24957;
    transform: translateY(-100px);
    opacity: 0;
    transition: all 1s ease-in-out;
    z-index: 20;
}

.silvia.is-visible {
    transform: translateY(0);
    opacity: 1;
}

.letter-i {
    width: 1rem;
    position: relative;
}

.circle {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #F24957;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    16.6% {
        transform: translateY(-40px);
    }
    33.3% {
        transform: translateY(0);
    }
    49.9% {
        transform: translateY(-20px);
    }
     66.5% {
        transform: translateY(0);
    }
    83.1% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateY(0);
    }
}

.rectangle {
    height: 3.5rem;
    width: 0.45rem;
    background-color: #F4D2BD; 
    position: absolute;
    top: 3.1rem;
}

.lvia {
    margin-left: 0.5rem;
}

.lee {
    animation: floatIn 1s ease-in;
    margin-left: 64px;
    color: #F4D2BD;
    margin-top: -30px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.lee.is-visible {
    transform: translateY(0);
    opacity: 1;
}

 @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    } 
}

@keyframes changeColor {
    from {
        color: #F24957;
    }
    to {
        color: #F4D2BD;
    }
}  

.chinese-name {
    grid-area: 3 / 3 / span 2 / span 3;
    margin-left: 4.5rem;
    margin-top: 3rem;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 80px;
    color: #F4D2BD;
    opacity: 0;
 
}

.chinese-name.is-visible {
    animation: fadeIn 1.5s 0.6s ease both,
    changeColor 1.5s 0.6s ease both;
}

.my-intro {
    grid-area: 3 / 7 / span 5 / span 4;
    margin-top: 3rem;
    opacity: 0;
    transform: translateX(200px);
    transition: all 1s ease-in;
}

.my-intro.is-visible {
    opacity: 1;
    transform: translateX(0);
}

h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
}

.my-intro p {
    margin: 2rem 0;
    color: #F4D2BD;
}

.social i {
    margin: 0 2rem 0 0;
    color: #F24957;
    transition: transform 0.3s ease-in-out;
}

.social i:hover,
.social i:active,
.social i:focus {
    color: #F4D2BD;
    transform: scale(2);
}

#projects {
    background-color: #F4D2BD;
    height: 50rem;
}


/* Slideshow container */
#slide-show {
    padding-top: 100px; 
}

.slideshow-container {
max-width:85%;
position: relative;
margin: 0 auto;
padding: 0 !important;
border: 8px solid #010326; 
cursor: pointer;
}

/* Hide the images by default */
.mySlides {
display: none;
width: 100%;
max-height: 565px;
}

.mySlides img {
    filter: grayscale(0.8);
}

.mySlides img:hover {
filter: grayscale(0);
}

/* Next & previous buttons */

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: #010326;
font-weight: bold;
font-size: 35px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: -5rem;
border-radius: 3px 0 0 3px;
}

.prev {
    left: -5rem;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: #010326;
color: #F24957;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #010326;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #F24957;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes appearFromCenter {
    from {
    transform: scale(0.9);
    opacity: 0.7;
    }
    to {
    transform: scale(1);
    opacity: 1;
    }
}

#container {
    width: 100%;
    height: 100vh;
    background-color: #010326;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 10;
}

.project-container {
    width: 70%;
    height: 100%; 
    margin: 0 auto;
    background-color: #010326; 
    display: none;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
    animation: appearFromCenter 0.75s ease;
}


.close-windows {
    float: right;
    position: fixed;
    right: 0; 
    top: 0;
    color: #F4D2BD;
    font-size: 1.5rem;
    margin: 2rem 0;
    animation: fadeIn 1.5s ease 0.75s both;
}

#close {
    float: right;
    margin-right: 1.5rem;
    cursor: pointer;
}

#close:hover {
    color: #F24957;
}

.project-video {
    grid-area: 2 / 1 / span 3 / span 7;
}

.project-video video {
    max-width: 100%;
}

.project-images {
    grid-area: 2 / 9 / span 3 / span 4;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-images img {
max-width: 47%;
}

.project-intro {
    grid-area: 5 / 1 / span 3 / span 7;
    color: white;
}

.project-intro h2 {
    font-family: "Work Sans", sans-serif;
    padding-bottom: 0.5rem;
}

.project-intro p,
.technology p {
    padding: 0.5rem 0;
    font-size: 0.8rem;
    color: #F4D2BD;
}

.technology {
    grid-area: 5 / 9 / span 1 / span 4;
    text-align: center;
}

.technology i {
    font-size: 1.5rem;
    margin: 0.5rem 1rem 0 0;
    color: white;
}

.previous-btn,
.next-btn {
    color: white;
    position: fixed;
    border: 0;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}

.previous-btn:hover,
.next-btn:hover,
.previous-btn:active,
.next-btn:active,
.previous-btn:visited,
.next-btn:visited {
    color: #F24957;
    background-color: transparent;
    border: 0;
}

.previous-btn {
    left: 4rem;
    top: 50vh;
}

.next-btn {
    right: 4rem;
    top: 50vh;
}

@keyframes fromRight {
    from {
        transform: translateX(50%);
        opacity: 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes leftOut {
    from {transform: translateX(-80%);
    } 
    to {
        transform: translateX(-150%);
        opacity: 0;
    }
}
@keyframes fromLeft {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }

}
@keyframes rightOut {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(150%);
        opacity: 0;
    }
}

.dummy-left {
    position: absolute;
    top: 115px;
    opacity: 0.5;
    z-index: -2;
    animation: leftOut 1s ease both;
    display: none;
}  

.dummy-right {
    position: absolute;
    top: 115px;
    z-index: -1;
    animation: rightOut 1s ease both;
    display: none;
}

#about {
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(12, 1fr);
    height: 650px;
    width: 100%;
    padding-top: 2.5rem;
}

.image-container {
    height: 12rem;
    width:12rem;
    grid-area: 2 / 3 / span 2 / span 4;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease, transform 1s ease;
    margin-top: 1rem;
}

.image-container.is-visible, 
.self-intro.is-visible,
.skills.is-visible {
    transform: translateX(0);
    opacity: 1;
}

.image-container img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%
}

.about-header {
    text-align: center;
    font-family: "work sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    grid-area: 1 / 1 / span 1/ span 12;
    margin-top: 3rem;
    color: #F24957;
}

.about-header, 
.contact-header {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease;
}

.about-header.is-visible,
.contact-header.is-visible {
    opacity: 1;
    transform: translateY(0);
}


h3 {
    font-family: "work sans", sans-serif;
    font-size: 1.5rem;
}

.self-intro {
    grid-area: 4 / 2 / span 3 / span 4;
    margin-top: 2rem;
    color: gray;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease, transform 1s ease;
    text-align: center;
}

.skills {
    grid-area: 3 / 7 / span 5 / span 5;
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s ease;
}

.skills li {
    list-style-type: none;
    margin-bottom: 1.5rem;
    color: white;
    font-size: 0.8rem;
}

.tech, .bar {
    display: inline-block;
    margin: 0;
}

.tech {
    width: 100px;
    text-align: center;
    padding: 0.3rem 0;
    background-color: #F24957;
    z-index: 2;
}

.bar {
    width: 400px;
    background-color: lightgray;
    position:relative;
    left: -4px;
    color: transparent;
    transition: color 1s 0.5s ease;
}

.bar.is-visible {
    color: #F24957;
}

.html-bar, .css-bar, .js-bar {
    opacity: 0;
    width: 0;
    display: inline-block;
    background-color: #010326;
    position: relative;
    left: -1px;
    padding: 0.3rem 0;
    z-index: 0;
    color: transparent;
}
.html-bar {
    transition: all 1.5s 1s ease; 
}

.css-bar {
    transition: all 1s 1s ease; 
}

.js-bar {
    transition: all 0.7s 1s ease; 
}

.html-bar.is-visible {
    opacity: 1;
    width: 90%;
}

.css-bar.is-visible {
    opacity: 1;
    width: 80%;
}

.js-bar.is-visible {
    opacity: 1;
    width: 50%;
}

#contact {
    background-color: #010326;
    text-align: center;
    padding-bottom: 7rem;
    height: 500px;
}
#contact h2 {
    text-align: center;
    font-family: "work sans", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    padding: 5rem 0 3rem 0;
    color: #F24957;
}

#contact p {
    color: #F4D2BD;
    padding: 1rem 0;
}

.email a {
    color: white;
    text-decoration: none;
}
.email a:hover {
    color: #F24957;
}

.contact p,
.email,
.contact-social {
    padding: 2rem 0;
}

.contact-social i {
    color: white;
    font-size:1.2rem;
    margin: 0 1rem;
    transition: transform 0.3s ease-in-out;
}

.contact-social i:hover,
.contact-social i:active,
.contact-social i:focus {
    color: #F24957;
    transform: scale(2);
}

.up-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    margin: 2rem;
}

.up-btn i {
    font-size: 2.5rem;
    color:  #F24957; 
    transition: transform 0.3s ease-in-out;  
}

.up-btn i:hover,
.up-btn i:active,
.up-btn i:focus {
    color: #F4D2BD;
    transform: scale(1.5);
}

@media only screen and (max-width: 1210px) {

    #projects, #about {
        max-height: 780px;
    }

    #slide-show {
        padding-top: 120px;
    }
    .dummy-left, .dummy-right {
        top: 16%;
        max-height: 80%;
    }
    .bar {
        width: 300px;
    }
    .project-video {
        grid-area: 2 / 2 / span 2 / span 10;

    }
    .project-images {
        grid-area: 4 / 1 / span 3 / span 5;
        padding-top: 3rem;
    }
    .project-intro {
        grid-area: 4 / 7 / span 3 / span 7;
        padding-top: 3rem;
    }
    .technology {
        grid-area: 5 / 7 / span 1 / span 7;
        padding-top: 3rem;
    }
    
}

@media only screen and (max-width: 780px) {
    #home {
        height: 1000px;
    }
    .my-name {
        margin-top: 6.5rem;
    }
    .chinese-name {
        grid-area: 3 / 4 / span 2 / span 3;
        margin-top: 2rem;
    }
    .my-intro {
        grid-area: 4 / 7 / span 5 / span 5;
    }
    #projects {
        max-height: 600px;
    }

    #slide-show {
        padding-top: 100px;
    }
    .slideshow-container {
        width: 100%;
        border: 0;
    }
    .next {
        right: 0;
        color: #F24957;
    }
    .prev {
        left: 0;
        color: #F24957;
    }
    .project-video {
        grid-area: 2 / 2 / span 2 / span 10;

    }
    .project-images {
        grid-area: 4 / 1 / span 3 / span 5;
        padding-top: 3rem;
    }
    .project-intro {
        grid-area: 4 / 7 / span 3 / span 7;
        padding-top: 3rem;
    }
    .technology {
        grid-area: 5 / 7 / span 1 / span 7;
        padding-top: 3rem;
    }
    .image-container {
        height: 10rem;
        width: 10rem;
    }
    .image-container img {
        height: 10rem;
    }
    .tech {
        width: 70px;
        color: #F24957;
        background-color: transparent;
        text-align: left;
    }
    .bar {
        width: 100%;
       
    }
    #about {
        height: 700px;
    }
    .self-intro {
        margin-top: 0;
    }
    .previous-btn {
        left: 2rem;
    }
    .next-btn {
        right: 2rem;
    }

}

@media only screen and (max-width: 450px) {
    nav .burger-nav {
        width: 100%;
        padding: 5px 10px;
        text-align: right;
        font-size: 2rem;

    }
    nav .desktop {
        width: 100%;
        padding-bottom: 5px;
        background-color: #44465B;
        overflow: hidden;
        height: 0;
    }
    nav .desktop.open {
        height: auto;
    }

    nav .desktop li {
        display: block;
        float: none;
    }

}